@import 'tailwindcss';
@import './lib';

@layer base {
	:root {
		@apply bg-background text-on-background h-full;
		color-scheme: dark light;
		touch-action: manipulation;
		scrollbar-gutter: stable;

		::selection {
			@apply bg-primary text-on-primary;
		}
	}

	.navbarTogglerActive > span:nth-child(1) {
		@apply top-[7px] rotate-45 transform;
	}
	.navbarTogglerActive > span:nth-child(2) {
		@apply opacity-0;
	}
	.navbarTogglerActive > span:nth-child(3) {
		@apply top-[-8px] rotate-[135deg];
	}
}
